<div id="site-gallery" class="ui-g ui-g-12 site-gallery">

  <div *ngFor="let item of items;" class="site-gallery-element ui-g-12 ui-sm-12 ui-md-6 ui-lg-4 ui-g-nopad">
    <div class="ui-g ui-g-12 site-gallery-element-preview-image ui-g-nopad">
      <img src='{{item.previewImage}}' />
    </div>
    <div class="ui-g ui-g-12 site-gallery-element-preview-caption" (click)="openModal('site-gallery-modal-' + item.uuid)">
      <h3>{{item.previewTitle}}</h3>
      <hr>
      <h4>{{item.previewDescription}}</h4>
    </div>

    <app-modal [item]="item" [mtitle]="item.extendedTitle" [mid]="'site-gallery-modal-' + item.uuid">
      {{item.extendedDescription}}

      <carousel>
        <slide *ngFor="let slide of item.gallery; let index=index">
          <img [src]="slide">
          <div class="carousel-caption">
            <h4>Slide {{index}}</h4>
          </div>
        </slide>
      </carousel>
    </app-modal>

  </div>


</div>
