<div id="site-profile-info" class="ui-g ui-g-12 site-profile-info">
  <div class="ui-g-12 ui-xs-12 ui-sm-12 ui-md-5">
    <h3><i class="fa fa-user"></i>About me</h3>
    <div class="block">
      <p>Software engineer specialized in Front-end development of web applications and portals, oriented to services and resources management. Proficient in work time optimization strategies He works in an agile environment joining multicultural teams with the finality of complex projects realization.</p>
      
      <p>Moreover, he’s constantly searching for cutting-edge and performance-enhancing technologies to get the best results with a reasonable effort.</p>
    </div>
  </div>
  <div class="ui-g-12 ui-xs-12 ui-sm-12 ui-md-3">
    <h3><i class="fa fa-building"></i>Work history</h3>
    <div class="block">
      <h4>Senior Front-end Developer</h4>
      <ul class="icon-list">
        <li><i class="fa fa-building"></i> Bright Computing</li>
        <li><i class="fa fa-clock-o"></i> Dec 2017-Present</li>
      </ul>
    </div>
    <div class="block">
      <h4>Senior Full Stack Developer</h4>
      <ul class="icon-list">
        <li><i class="fa fa-building"></i> I2MFactory</li>
        <li><i class="fa fa-clock-o"></i> Feb 2016 - Oct 2017</li>
      </ul>
    </div>
    <div class="block">
      <h4>Full stack developer</h4>
      <ul class="icon-list">
        <li><i class="fa fa-building"></i> Promoinside</li>
        <li><i class="fa fa-clock-o"></i> 2014-2016</li>
      </ul>
    </div>
  </div>
  <div class="ui-g-12 ui-xs-12 ui-sm-12 ui-md-4">
    <h3><i class="fa fa-graduation-cap"></i>Education</h3>
    <div class="block">
      <h4>Bachelor’s degree in Computer Engineering</h4>
      <ul class="icon-list">
        <li><i class="fa fa-book"></i> University of Rome "Tor Vergata"</li>
        <li><i class="fa fa-clock-o"></i> 2009-2015</li>
      </ul>
    </div>
  </div>
</div>
