<div id="site-profile-info" class="ui-g ui-g-12 site-profile-info">
  <div class="ui-g-12 ui-xs-12 ui-sm-12 ui-md-5">
    <h3><i class="fa fa-user"></i>About me</h3>
    <div class="block">
      <p>
        I'm a software engineer specialized in full stack development of web applications and portals oriented to services, experienced in technical project management and business relation.
      </p>
      <p>
         Proficient in work time optimization strategies, I usually work in team with the finality of complex projects realization.
         Moreover I'm constantly searching for innovative, performance enhancing technologies to get the best resources out of my work time.
      </p>
    </div>
  </div>
  <div class="ui-g-12 ui-xs-12 ui-sm-12 ui-md-3">
    <h3><i class="fa fa-building"></i>Work history</h3>
    <div class="block">
      <h4>Senior Full Stack Developer</h4>
      <ul class="icon-list">
        <li><i class="fa fa-building"></i> I2MFactory</li>
        <li><i class="fa fa-clock-o"></i> 2016-Present</li>
      </ul>
    </div>
    <div class="block">
      <h4>Frontend/Backend developer</h4>
      <ul class="icon-list">
        <li><i class="fa fa-building"></i> Promoinside</li>
        <li><i class="fa fa-clock-o"></i> 2014-2016</li>
      </ul>
    </div>
    <div class="block">
      <h4>Web and mobile developer</h4>
      <ul class="icon-list">
        <li><i class="fa fa-building"></i> Freelance</li>
        <li><i class="fa fa-clock-o"></i> 2011-2014</li>
      </ul>
    </div>
  </div>
  <div class="ui-g-12 ui-xs-12 ui-sm-12 ui-md-4">
    <h3><i class="fa fa-graduation-cap"></i>Education</h3>
    <div class="block">
      <h4>Bachelor’s degree in Computer Engineering</h4>
      <ul class="icon-list">
        <li><i class="fa fa-book"></i> University of Rome "Tor Vergata"</li>
        <li><i class="fa fa-clock-o"></i> 2009-2015</li>
      </ul>
    </div>
  </div>
</div>
