<div id="site-expertness" class="ui-g ui-g-12 site-expertness">
    <div class="ui-g ui-g-12">
      <div class="overlay"></div>
      <div class="text-center site-expertness-title">
        <i class="fa fa-bookmark"></i> What I Do
      </div>
    </div>
    <section class="site-expertness-content">
      <div class="ui-g ui-g-12 ">
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12">
          <div class="block">
            <i class="fa fa-users fa-3x"></i>
            <h4 class="text-uppercase">Teamwork</h4>
            <p>
              Coordinating with my teammates for the realization,<br> delivery and maintenance stage of complex projects
            </p>
          </div>
        </div>
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12">
          <div class="block">
            <i class="fa fa-code fa-3x"></i>
            <h4 class="text-uppercase">Javascript Developer</h4>
            <p>
              Working on Angular, Angularjs, Nodejs and React web applications to improve user experience.
            </p>
          </div>
        </div>
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12">
          <div class="block">
            <i class="fa fa-flask fa-3x"></i>
            <h4 class="text-uppercase">Experimenting</h4>
            <p>
              Research and development for cutting-edge technologies to astonish the customer
            </p>
          </div>
        </div>
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12">
          <div class="block">
            <i class="fa fa-lightbulb-o fa-3x"></i>
            <h4 class="text-uppercase">Customer needs</h4>
            <p>
              Good experience analyzing technical requirements,<br> software designing and customer caring.
            </p>
          </div>
        </div>
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12">
          <div class="block">
            <i class="fa fa-database fa-3x"></i>
            <h4 class="text-uppercase">Database designing</h4>
            <p>
              Designing and sizing databases to achieve<br> better computational performances.
            </p>
          </div>
        </div>
        <div class="ui-g-4 ui-lg-4 ui-md-6 ui-sm-12">
          <div class="block">
            <i class="fa fa-magic fa-3x"></i>
            <h4 class="text-uppercase">PHP applications</h4>
            <p>
              Long experience with PHP frameworks, developing complex applications
              and implementing unit tests.
            </p>
          </div>
        </div>
      </div>
    </section>
</div>
