<div class="home-page">
  <div class="ui-g ui-g-12 about-me">
    <div class="ui-g-12 about-me-top">
      <div class="ui-g-12 about-me-image">
          <div class="ui-g-12 ui-sm-12">
            <img src="/assets/images/profile.jpg" class="margin-top-76 img-circle center-block profile-picture" alt="profile picture">
          </div>
      </div>
      <div class="ui-g ui-g-12 about-me-name">
          <div class="ui-g-12 ui-sm-12">
            <h1 class="text-capitalize text-center">Antonio Martino</h1>
          </div>
      </div>
      <div class="ui-g ui-g-12 about-me-profession">
          <div class="ui-g-12 ui-sm-12">
            <h3 class="text-capitalize text-center">Frontend/Backend Specialist</h3>
          </div>
      </div>

      <div class="ui-g-12 about-me-socials">
          <div class="ui-g-12 ui-sm-12">
            <ul class="social-networks spin-icon">
                <li><a title="Facebook" href="https://www.facebook.com/AntonioMartino89" class="icon-facebook">Facebook</a></li>
                <li><a title="Linkedin" href="https://www.linkedin.com/in/antonio-martino-7749bb73/" class="icon-linkedin">LinkedIn</a></li>
                <li><a title="C.v. Resume" href="/assets/files/antonio.martino.en.pdf" class="icon-cv">C.v.</a></li>
              </ul>
          </div>
      </div>

    </div>
  </div>

  <app-site-gallery></app-site-gallery>
  <app-site-recommendations></app-site-recommendations>
  <app-site-profile-info></app-site-profile-info>
  <app-site-expertness></app-site-expertness>
  <app-site-contact-me></app-site-contact-me>
</div>
